.place-card {
  width: 400px;
    background: darkseagreen;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 5px;
    margin: 20px;
}